@import 'config';
@import 'menu'; 

@font-face {
    font-family: "Void";
    src: url("Void.eot?") format("eot"), url("Void.woff2") format("woff2"), url("Void.woff") format("woff"), url("Void.ttf") format("truetype"), url('Void.svg#str-replace(Void, " ", "_")') format("svg"); 
}

* {
    box-sizing: border-box; 
}
  
body {
    @include background;
    background: #e9e8e8;
    color: #000;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5; 
}
  
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400; 

    &.lg-heading {
        font-size: 6rem;
        letter-spacing: 1rem;
        font-family: 'Void';
        background: url(../img/logo.svg);
        background-repeat: no-repeat;
        padding: 0.5rem 12.5rem;
        background-size: 10rem;
        background-position: 1rem; 
    }

    &.sm-heading {
        margin-bottom: 2rem;
        letter-spacing: 0.5rem;
        padding: 0.2rem 0.2rem;
        font-family: sans-serif; 
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%; 
}

.text-secondary {
color: $secondary-color; 
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);
    .icons {
        margin-top: 1rem; 
        
        a {
            padding: 0.4rem; 

            &:hover {
                color:$secondary-color;
                transition: all 0.5s ease-out; 
            }
        }
    }
        
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
     }
}

//Restaurant Menu
#restMenu {
    .sm-heading {
        text-align: center;
        color: #d82828; 
    }

    table {
        width: 60%;
        margin: 50px auto;
        margin-top: -10px;
        table-layout: fixed;
        border-collapse: collapse;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        counter-reset: row-num 1; 

        td {
            padding: .6em 0 0 0;
            vertical-align: bottom;

            &:first-child {
                text-align: left;
                font-weight: 700; 
                padding-left:0;
                span {
                    padding-right: .25em; 
                }

                &.subtext {
                    padding-top: 0;
                    padding-left: 1.25rem;
                    font-size: 15px;
                    font-weight: normal;
                    counter-increment: row-num; 

                    &:before {
                        content: ''; 
                    }
                }

                &:before {
                    content: counter(row-num) ". ";                    
                }

                &.nonItem {
                    &:before{
                        content: '';
                    }
                }
            }

            &:last-child {
                text-align: right;
                width: 3em; 
                font-weight:700;

                span {
                    padding-left: .25em; 
                }
            }

        }
    
    ul {
        list-style: none;
        font-size:15px;
        margin: 0;

        li {
            font-weight: 700;
        }
    }
        
    }

    #salad {
        counter-reset: row-num 20;
    }

    #sushi {
        counter-reset: row-num 25;
    }

    #sashimi {
        counter-reset: row-num 33;
    }

    #tempura {
        counter-reset: row-num 38;
    }

    #noodles {
        counter-reset: row-num 41;
    }

    #others {
        counter-reset: row-num 46;
    }

    .vege {
        color: #149114;
     }
}  

#contact{
    width:fit-content;
    margin: 10px auto;
    text-align: center;
    

    .sm-heading{
        margin-top:120px;
    }
}

.btn, .btn-dark, .btn-light {
display: block;
padding: 0.5rem 1rem;
border: 0;
margin-bottom: 0.3rem; }
.btn:hover, .btn-dark:hover, .btn-light:hover {
    background: rgba(190, 14, 73, 0.877);
    color: #fff; }

.btn-dark {
background: #6b6767;
color: #fff; }

.btn-light {
background: white;
color: #444; }

#main-footer {
    text-align: center;
    padding: 1rem;
    background: #d0cece;
    color: #000;
    height: 60px; 
}

@import 'mobile';