@import 'config';
@import 'menu';
@include font-face(Void, Void);


* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings

h1, 
h2, 
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
        letter-spacing: 1rem;
        font-family: 'Void';
        background: url(../img/logo.svg);
        background-repeat: no-repeat;
        padding: 0.5rem 12.5rem;
        background-size:10rem;
        background-position:1rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        letter-spacing: 0.5rem;
        padding: 0.2rem 0.2rem;
        font-family:sans-serif;
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

// Restaurant Menu Page
#about{
    

    .sm-heading{
        text-align: center;
        color: rgb(216, 40, 40);
    }

    table {
        width: 60%;
        margin:100px auto;
        margin-top:-10px;
        table-layout:fixed;
        border-collapse: collapse;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        counter-reset: row-num 1;

        td {
            padding:.4em 0 0 0;
            vertical-align:bottom;
        }
        
        td:first-child {
            text-align: left;
            font-weight: 700;
            span{
                padding-right:.25em;
                }

            &.subtext{
                padding-top:0;
                padding-left:1.25rem;
                font-size:15px;
                font-weight: normal;
                counter-increment: row-num;
                
                &:before{
                    content: '';
                }
            }

            &:before{
                content: counter(row-num) ". ";
                padding-right:2em;
                margin-left:-2em;
                text-align:right;
            }
        }
    
        td:last-child {
            text-align:right;
            width:3em;
    
            span {
                padding-left:.25em;
                }
        }

        .vege {
            color: rgb(20, 145, 20);
        }
    }    
}


// Work/Projects
.projects {
    display: grid; 
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        border: 3px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

// Contact Page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            span {
                color: set-text-color($secondary-color);
            }
        }
    }
}

// Button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #444;
}


#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';